/* Стилі для показу або приховування завантажувача */
.loader {
    display: none;
    /* За замовчуванням прихований */
}

/* Стилі для приховування селекта порід та показу інформації про кота */
.breed-select {
    display: none;
    /* Прихований поки триває запит */
}

.cat-info {
    display: none;
    /* Прихована поки триває запит */
}